.grid {
	display: grid;
	gap: 1rem;
	margin: 0 auto;
	max-width: 1200px;
	grid-template-columns: repeat(4, 1fr);
}

.card {
	background-color: #fff;
	color: #333;
	border-radius: 1rem;
	background-size: cover;
}